/* screen stylesheet */

#placeholder {
  width: 800px;
  height: 400px;
}

#items {
  display: none;
}

.sidebar {
  position: absolute;
  left: 820px;
  top: 100px;
  width: 400px;
}

table.transactions, table.transactions td, table.transactions th {
  border-color: #000;
  border-style: solid;
  width: 50%;
}

table.transactions {
  border-width: 0 0 1px 1px;
  border-spacing: 0;
  border-collapse: collapse;
}

table.transactions td, table.transactions th {
  border-width: 1px 1px 0 0;
  margin: 0px;
  padding: 4px;
  background-color: #ffe;
}

.sidebar table.transactions {
  width: 100%;
}

.sidebar table.transactions td,
.sidebar table.transactions th {
  height: 50px;
}

.credit {
  color: #090;
}

.debit {
  color: #c00;
}

