<h1>Graph</h1>

<div id="flot-graph"></div>
<script id="source" language="javascript" type="text/javascript"> 
$(function () {
    var data = <%= @data.inspect %>;

    $.plot($("#flot-graph"), [ {
        data: data,
        color: "rgb(30, 180, 20)",
        threshold: { below: 0.0, color: "rgb(200, 20, 30)" },
        lines: { steps: true }
      }], {
        xaxis: { mode: "time" },
        yaxis: { tickFormatter: function (v, axis) {
          var num = v.toFixed(axis.tickDecimals);
          var numstr = (num >=0) ? "$"+num : "-$"+Math.abs(num); 
          return numstr;
        }
      },
    });
});
</script>

