<h2>Transactions</h2>
<div id="placeholder"></div>
<br />
<div id="sidebar"></div>

<ol>
<li>Try to load initial data without ajax</li>
<li>Daily/weekly buttons call another function which:</li>
<li>Add colours to tag model and show bars+legends in right colour</li>
<li>Add buttons to group by daily/week/month</li>
<li>Add onHover to show list of transactions represented by bar</li>
</ol>

<script id="source" language="javascript" type="text/javascript">
var params = <%= @dateRange.to_json %>;
var source = 'http://localhost:3000/data/bytag/daily.json';
var options = {
  legend: { noColumns : 2},
  series: {
    stack: true,
    bars: { show: true, 
      barWidth: 7*1000*24*60*60,
      lineWidth: 1,
    },
  },
  xaxis: { mode: "time" },
};
var data = [];
var choiceContainer = $('#sidebar');

doFetch();

function doFetch() {
  $.getJSON(source, params, function(newdata) {
    doPlot(newdata);
    doShowCheckboxes(newdata);
    console.log(newdata);
  });
}

function doPlot(data) {
  $.plot($("#placeholder"), data.data, options);
}


function doUpdatePlot(newdata) {
  var plotdata = [];
  var plottags = [];
  var plotitems = [];
  var i = 0, tagid;
  var tags = newdata.tags;
  for (i in tags) {
    tagid = tags[i].tag.id;
    if($('#id'+tagid+':checked').val()=='on') {
      plotdata.push(newdata.data[i]);
      plottags.push(newdata.tags[i]);
      plotitems.push(newdata.items[i]);
    }
  }
  var res = {data: plotdata, items: plotitems, tags: plottags};
  doPlot(res);

}

function doShowCheckboxes(newdata) {
  var i,checkboxes = '';
  var tags = newdata.tags;
  for (i in tags) {
    checkboxes += '<input type="checkbox" name="'+tags[i].tag.id + 
      '" checked="checked" id="id' + tags[i].tag.id + '"><label for="id' + 
      tags[i].tag.id + '">' + tags[i].tag.name + '</label>';
  }
  choiceContainer.html(checkboxes);

  choiceContainer.find("input").click(function() {doUpdatePlot(newdata);});
}

/*
  $.getJSON(source,
    params,
    function(data, textStatus) {
      console.log(data);
      var mydata = data.data;
      var plot = $.plot($("#placeholder"), mydata , options);
    } 
  );
*/


</script>

<!--
/*
var plot
$(function () {
    var data = [];
    //for (var i = 0; i < data.length; ++i) {
    //  data[i][0] += 60 * 60 * 13000;
    //}

    var options = {
        xaxis: { mode: "time" },
        color: "rgb(30, 180, 20)",
        yaxis: { tickFormatter: function (v, axis) {
          var num = v.toFixed(axis.tickDecimals);
          var numstr = (num >=0) ? "$"+num : "-$"+Math.abs(num); 
          return numstr;
          },
          labelWidth: 50,
        },
    //    crosshair: { mode: "x" },
    //    selection: { mode: "x" },
    //    grid: { hoverable: true, clickable: true, autoHighlight: false },
        lines: { steps: true },
    }; 

    //var plot = $.plot($("#placeholder"), [ data ], options);


              // using jquery parseJSON would be better, but need to use
              // newer version of JSON for it to work
              //var details = jQuery.parseJSON(dataset[1].originSeries.data[j][2]);

});
*/
        // then fetch the data with jQuery
        function onDataReceived(series) {
console.log('bye'); 
console.log(series); 
            // let's add it to our current data
            //data.push(series.data[0]);
            
            // and plot all we got
            //$.plot(placeholder, data, options);
         }
-->
