
<%= error_messages_for :transaction %>

  <p><label>Date:<br />
  <%= date_select :transaction, :date %></label></p>

  <p><label>Amount:<br />
  <%= text_field :transaction, :amount %></label></p>

  <p><label>Text:<br />
  <%= text_field :transaction, :text %></label></p>


